* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background: #eeeeee;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.wrapper {
  width: 620px;
  padding: 40px 30px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
}

.wrapper__header {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px dashed gray;
}

.wrapper__header__title {
  font-size: 32px;
  background-color: orange;
  color: white;
  text-align: center;
  padding: 5px;
  margin-bottom: 10px;
}

.wrapper__head__subtitle {
  font-size: 18px;
  padding: 10px 0;
}

#point {
  color: orange;
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 15px;
  display: block;
}

.wrapper__body {
  border: 1px solid #dddddd;
  padding: 20px 30px;
}

.diary-title {
  font-size: 18px;
  font-weight: 600;
  background-color: #f4f4f4;
  margin-bottom: 20px;
}

.kimchi {
  color: red;
  font-weight: 600;
}

.egg {
  color: orange;
  font-weight: 600;
}

.highlight {
  font-size: 22px;
  color: blue;
  font-weight: 700;
  font-style: italic;
}

.diary-date {
  color: #919191;
  font-size: 14px;
  text-align: right;
}

.header {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid gray;
}

.header-inner {
  width: 900px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px;
}

.logo h1 a {
  text-decoration: none;
  color: orange;
}

.menu__ul {
  display: flex;
  flex-direction: row;
}

.menu__ul li {
  list-style: none;
}

.menu__ul li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
}

.menu__ul li a:hover {
  color: orange;
}

.user {
  width: 100px;
}
